<% @authors.each do |author| %>
  <%= render partial: 'author', local: {post_author: author} %>
  <%# <ul> %>
  <%#   <li> <%= author.name %1></li> %>
  <%#   <li> <%= author.hometown %1></li> %>
  <%# </ul> %>
<% end %>
